body {
    background-color: #eaeaea;
    font-family: 'Montserrat', sans-serif;
}

.wrapper {
    padding-left: 15px;
    padding-right: 15px;
    max-width: 1170px;
    margin: 0 auto;
    position: relative;
}

.center {
    text-align: center;
}

.navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 36px;
    padding-bottom: 40px;
}

.nav {
    display: flex;
    list-style-type: none;
    padding-left: 0;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 0;
}

.nav li a {
    text-decoration: none;
    color: #494949;
}
.nav li {
    padding-left: 23px;
    margin-left: 22px;
    position: relative;
}
.nav li:before {
    content: '';
    display: block;
    width: 2px;
    height: 100%;
    background-color: #494949;
    position: absolute;
    left: 0;
}

ul.nav li:first-child:before {
    display: none;
    padding-left: 0;
    margin-left: 0;
}

.banner {
    background-image: url(../image/banner.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    color: #fff;
    padding-top: 260px;
    padding-bottom: 285px;
}

.title {
    font-size: 50px;
    margin-bottom: 23px;
}

.description {
    font-size: 25px;
    line-height: 30px;
    max-width: 570px;
    font-family: 'Roboto',sans-serif;
    margin-bottom: 23px;
}

.btn {
    display: block;
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    font-weight: 800;
    text-transform: uppercase;
    border: 2px solid #fff;
    padding: 16px 0;
    max-width: 190px;
    text-align: center;
}

.pizza {
    position: absolute;
    right: 0;
    top: -230px;
}

.h2 {
    font-size: 45px;
    color: #282828;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    position: relative;
    display: inline-block;
    padding-right: 127px;
    padding-left: 127px;
    margin-bottom: 20px;
}

.h2:before, .h2:after {
    content: '';
    position: absolute;
    background-image: url(../image/Shape%202%20copy.png);
    display: block;
    width: 102px;
    height: 28px;
    top: 5px;
}

.h2:before {
    left: 0;
}

.h2:after {
    right: 0;
}

.h2 + p {
    font-size: 20px;
    color: #959595;
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

.menu {
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding-left: 0;
    margin-top: 42px;
    margin-bottom: 65px;
}

.menu li {
    margin-left: 15px;
    margin-right: 15px;
    position: relative;
    padding-left: 20px;
    padding-right: 20px;
}

.menu li:before {
    content: '';
    display: block;
    width: 2px;
    height: 100%;
    background-color: #494949;
    position: absolute;
    left: 0;
}

.menu li:first-child:before {
    display: none;
}

.menu li a {
    text-decoration: none;
    color: #494848;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    padding-bottom: 18px;
}

.menu li a.active {
    border-bottom: 4px solid #ee252d;
    position: relative;
}

.menu li a.active:before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto;
    display: block;
    width: 0;
    height: 0;
    border: 7px solid transparent;
    border-bottom: 7px solid #ee252d;
}

.box {
    background-color: #fff;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0. 0.11);
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
}

.box-item {
    padding: 64px 0 58px 55px;
    box-sizing: content-box;
}

.number {
    font-family: 'Roboto', sans-serif;
    font-size: 120px;
    font-weight: 900;
    margin-top: 0;
    position: relative;
    margin-bottom: 0;
    color: #282828;
}

.number:after {
    content: '';
    display: block;
    position: absolute;
}

.number-one:after {
    background-image: url(../image/icon1.png);
    width: 126px;
    height: 71px;
    left: 69px;
    top: calc(50% - 35px);
}

.number-two:after {
    background-image: url(../image/icon2.png);
    width: 184px;
    height: 81px;
    left: 88px;
    top: calc(50% - 40px);
}
    
.number-three:after {
    background-image: url(../image/icon3.png);
    width: 142px;
    height: 68px;
    left: 94px;
    top: calc(50% - 34px);
}

.box-text {
    border-right: 1px solid #eaeaea;
    padding-right: 55px;
    flex-basis: 
}

.box-item:last-child .box-text {
    border-right: none;
}

.box-text h3 {
    font-size: 45px;
    color: #282828;
    margin-bottom: 23px;
}

.box-text p {
    font-size: 18px;
    color: #282828;
    font-family: 'Roboto', sans-serif;
    line-height: 24px;
    margin-top: 0;
}

.btn-start {
    color: #fff;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 700;
    background-image: url(../image/bg.png);
    background-position: center center;
    text-decoration: none;
    padding: 29px 58px;
    background-repeat: no-repeat;
}

.page {
    padding-top: 120px;
    padding-bottom: 94px;
}

.footer {
    background-image: url(../image/footer.png);
    padding: 30px 0;
    color: #fff;
    text-transform: uppercase;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    margin-top: 95px;
}








